&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&gpio0 {
	status = "okay";
};

/ {
    battery: battery {
        compatible = "analog-input";
        io-channels = <&adc0 7>;
        status = "okay";
    };

	off_switch: off_switch {
        compatible = "power-switch";
        gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
        status = "okay";
	};
};
